.rating {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-evenly;
    .fa-star {
        color: #E3E3E3;
    }
    .checked {
        color: #FF6060;
    }
}

@media (max-width: 768px) {
    .rating {
        width: 90px;
        justify-content: space-between;
        .fa-star {
            font-size: 12px;
        }
    }
}