.tag {
    padding: 4px 15px 4px;
    background-color: #FF6060;
    border-radius: 25px;
    p{
        margin: 0;
        color: white;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 14px;
    }
}