.propos {
    min-height: calc(100vh - 427px);
    padding: 0 100px;
    &Collapse {
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .propos {
        min-height: calc(100vh - 302px);
        padding: 0 20px;
        &Collapse {
            padding: 0;
            gap: 20px;
        }
    }
}